# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="sqlserver://xbigdata.cvvtqgy2croi.us-east-1.rds.amazonaws.com:1433;database=bet365-api;user=sa;password=Suporte*13;encrypt=true;trustServerCertificate=true"

#secret JWT
JWT_SECRET=k@!.PYzB7KvODuEGIeJY!bnFFNvtm;Mx

# Api Stripe Secrete Key
#API_STRIPE_SECRET_KEY=sk_test_51MCsigDXO8lGdsO055v4StRAuJvuMloJpnbrzPBdPNz7Mx310tglUPwtKFY8ugG8CDfe25BSZGvE7d5xk4QO5UKc00P6hktfdt
API_STRIPE_SECRET_KEY=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
